{{- with .Inner }}{{ end -}}
{{ $seed := now.UnixMicro }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{- $groupId := substr $random 0 5 -}}

<ul class="nav nav-tabs">
{{- range $index, $tab := .Scratch.Get "tabs" -}}
  <li class="nav-item">
    <a class="nav-link {{ if eq $index 0 }}active{{ end }}" data-bs-toggle="tab" href="#{{ $groupId }}{{ $index }}"><kbd>{{ .name }}</kbd></a>
  </li>
{{- end -}}
</ul>
<div class="tab-content">
{{- range $index, $tab := .Scratch.Get "tabs" -}}
<div class="tab-pane container {{ if eq $index 0 }} active {{ else }} fade {{ end }}" id="{{ $groupId }}{{ $index }}">

{{ $file := .rawlink }}
{{ with resources.GetRemote $file }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $lang := path.Ext $file | strings.TrimPrefix "." }}
```{{ $lang }}
{{ .Content | safeHTML }}
```
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource." }}
{{ end }}

</div>
{{ end }}
</div>